<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraqg.net.nz/thymeleaf/layout" layout:decorate="blog/layout/basic">
<th:block layout:fragment="content">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview" th:if="${not #lists.isEmpty( aboutList )}" th:each="row : ${aboutList}">
                    <a class="post-title" th:href="@{/blog/about.do( idx=${row.idx} )}"> <h2 th:text="${row.title}"></h2></a>
                    <p class="post-meta">
                        Posted by ANNA
                        <a th:text="${#temporals.format( row.createAt, 'yyyy-MM-dd' )}"></a>
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        function movePage(uri, queryString) {
            location.href = uri + queryString;
        }

        /*]]>*/
    </script>
</th:block>
</html>
