<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.BlogMapper">
    <sql id="blogColumns">
        idx
        , title
		, content
		, image
		, viewCnt
        , status
        , createAt
        , updateAt
    </sql>

    <insert id="insertBlog" parameterType="BlogDTO">
        INSERT INTO blog (
        <include refid="blogColumns" />

        ) VALUES (
        #{idx}
        , #{title}
        , #{content}
        , #{image}
        , 0
        , 'Y'
        , NOW()
        , NULL
        )
    </insert>

    <select id="selectBlogDetail" parameterType="long" resultType="com.blog.domain.BlogDTO">
        SELECT
        <include refid="blogColumns"/>
        FROM
            blog
        WHERE
            status = 'Y'
        AND
            idx = #{idx}
    </select>

    <update id="updateBlog" parameterType="BlogDTO">
        UPDATE blog
        SET
            updateAt = NOW()
          , title = #{title}
          , content = #{content}
          , image = #{image}
        WHERE
            idx = #{idx}
    </update>
    <update id="deleteBlog" parameterType="long">
        UPDATE blog
        SET
            status = 'N'
        WHERE
            idx = #{idx}
    </update>

    <select id="selectBlogList" parameterType="BlogDTO" resultType="com.blog.domain.BlogDTO">
        SELECT
        <include refid="blogColumns"/>
        FROM
            blog
        WHERE
            status = 'Y'
        ORDER BY
            idx DESC,
            createAt DESC
        LIMIT
            #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </select>
    <select id="selectBlogTotalCount" parameterType="BlogDTO" resultType="int">
        SELECT
            COUNT(*)
        FROM
            blog
        WHERE
            status = 'Y'
    </select>
    <update id="updateBlogCnt" parameterType="BlogDTO">
        UPDATE blog
        SET
            viewCnt = viewCnt + 1
        WHERE
            idx = #{idx}
    </update>

</mapper>